.container {
  position: relative;
  display: flex;
  flex-direction: column;
  padding: var(--spacing-5);
  align-items: center;
  gap: var(--spacing-7);
}

.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 70px;
  width: 50vw;
  background-color: var(--background-paper);
  border-radius: var(--cards-border-radius);
  height: 20vh;
  padding-top: 80px;
}

.profilePicture {
  position: absolute;
  top: 20;
  border-radius: 50%;
}
