.container {
  width: 100%;
  background-color: var(--background-paper);
  position: relative;
  border-radius: var(--cards-border-radius);
  margin: var(--spacing-2) var(--spacing-4);
  padding-top: var(--spacing-2);
}

.cardGrid {
  display: flex;
  gap: var(--spacing-4);
  padding: var(--spacing-4);
  min-width: max-content;
}
